@charset "UTF-8";

#left-pane {
    background-color: #368;
    border-right: 1px solid #368;
}

#outline-pane {
    background-color: #d0d0dd;
    border-right: 1px solid #d0d0dd;
}

/*----- outline list ------------------------------------------------------*/
#outline-pane ul a:link,
#outline-pane ul a:visited{ color: #257; text-decoration: none; }
#outline-pane ul a:hover{ color: #479; text-decoration: underline; }

#left-pane ul a:link,
#left-pane ul a:visited{ color: #cee; text-decoration: none; }
#left-pane ul a:hover{ color: #7cc; text-decoration: underline; }

#left-pane li.active-page { background-color: #234; }

