@charset "UTF-8";

#left-pane {
    background-color: #9d385e;
    border-right: 1px solid #648;
}

#outline-pane {
    background-color: #e5cfd8;
    border-right: 1px solid #ddd0dd;
}

/*----- outline list ------------------------------------------------------*/
#outline-pane ul a:link,
#outline-pane ul a:visited{ color: #9d385e; text-decoration: none; }
#outline-pane ul a:hover{ color: #eb4c88; text-decoration: underline; }

#left-pane ul a:link,
#left-pane ul a:visited{ color: #f2d0dd; text-decoration: none; }
#left-pane ul a:hover{ color: #a9e2ff; text-decoration: underline; }

#left-pane li.active-page { background-color: #6f1839; }

