@charset "UTF-8";

#left-pane {
    background-color: #368;
    border-right: 1px solid #368;
}

#outline-pane {
    background-color: #d0d0dd;
    border-right: 1px solid #d0d0dd;
}

/*----- outline list ------------------------------------------------------*/
#outline-pane ul a:link,
#outline-pane ul a:visited{ color: #257; text-decoration: none; }
#outline-pane ul a:hover{ color: #49b; text-decoration: underline; }

#left-pane ul a:link,
#left-pane ul a:visited{ color: #cee; text-decoration: none; }
#left-pane ul a:hover{ color: #eea; text-decoration: underline; }

#left-pane li.active-page { background-color: #234; }

h4.notes-index {
    font-size: 105%;
    width : 90%;
    color : #112740;
    margin: 1.2em 0 0.5em 0.3em;
    border-bottom: 1px dotted #113355;
    padding-left: 0em;
}

div.accordion-heading {
    background-color: #1e4e6d;
}

