@charset "UTF-8";

#novel {
    background: #f2f1f0;
}

#left-pane {
    padding-top: 30px;
    background-color: #c1502b;
    border-right: 1px solid #8a2;
}

#outline-pane {
    background-color: #f0e9db;
    border-right: 1px solid #cfd0aa;
}

h4.study-guide-index {
    font-size: 105%;
    width : 90%;
    color : #752d16;
    margin: 1.0em 0 0.5em 0.3em;
    border-bottom: 1px dotted #752d16;
    padding-left: 0em;
}

/*----- outline list ------------------------------------------------------*/
#outline-pane ul a:link,
#outline-pane ul a:visited{ color: #d05a33; text-decoration: none; }
#outline-pane ul a:hover{ color: #e85e30; text-decoration: underline; }

#left-pane ul a:link,
#left-pane ul a:visited{ color: #f0e9db; text-decoration: none; }
#left-pane ul a:hover{ color: #edd795; text-decoration: underline; }

#left-pane li.active-page { background-color: #883419; }

h4.krew-index {
    font-size: 105%;
    width : 90%;
    color : #294a10;
    margin: 0 0 0.5em 0.3em;
    border-bottom: 1px dotted #3a5a15;
    padding-left: 0em;
}

/*----- general ------------------------------------------------------*/
a:link    { color: #ef3475; }
a:visited { color: #ef3475; }
a:hover   { color: #f90;  position: relative;  top: 1px; }

strong {
    color: #7c981b;
}

blockquote {
    border: 1px solid #d0d0d0;
}

/*----- heading ------------------------------------------------------*/
h1 {
    font-size: 300%;
    font-weight: normal;
    color: #883419;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 180%;
    width: 95%;
    color: #d05a33;
    margin: 2.3em 0 1.0em 0;
    background-color: transparent;
    border-left: 0;
    border-bottom: 1px solid #d05a33;
    font-family: cursive;
}

h3{
    width: 90%;
    max-width: 42em;
    color: #a23f1e;
    background-color: transparent;
    font-size  : 130%;
    line-height: 150%;
    font-weight: bold;
    text-align : left;
    border-left  : 8px solid #d05a33;
    border-bottom: 1px solid #d05a33;
    margin: 2.5em 0 1.3em 0em;
    padding-left : 0.5em;
}

h4{
    width: 70%;
    max-width: 40em;
    color: #883419;
    font-size  : 115%;
    line-height: 150%;
    font-weight: bold;
    text-align : left;
    border-bottom: 1px solid #d05a33;
    margin: 2.5em 0 1.5em 0em;
    padding-left : 0.5em;
}

h5{
    width: 70%;
    max-width: 40em;
    color: #883419;
    font-size  : 108%;
    line-height: 150%;
    font-weight: bold;
    text-align : left;
    margin: 1.0em 0 0.5em 0em;
    padding-left : 0.5em;
}

/*----- specific ------------------------------------------------------*/
div.title-image {
    margin-top: 2.0em;
    text-align: center;
}
div.title-image i {
    color: #999;
}

div.image-box {
    max-width: 50em;
    text-align: center;
}
div.image-box img {
    margin: 0.5em 0.5em;
}

div.hint, div.key-idea, div.apology {
    width: 80%;
    max-width: 50em;
    margin-left: 2em;
    margin-bottom: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    word-wrap: break-word;

    /* radius */
    border-radius:         10px; /* CSS3 */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -moz-border-radius:    10px; /* Firefox */
}
div.hint {
    border: 1px solid #accee0;
    background-color: #e7f1f6;
}
div.hint p.caption {
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    color: #55a8d2;
    font-weight: bold;
    letter-spacing: 0.1em;
}
div.hint p {
    margin-bottom: 0.1em;
    margin-left: 1.5em;
    font-style: italic;
    color: #698d9f;
}

div.key-idea {
    border: 1px solid #c3d190;
    background-color: #edeed8;
}
div.key-idea p.caption {
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    color: #6c8614;
    font-weight: bold;
    letter-spacing: 0.1em;
}
div.key-idea p {
    margin-bottom: 0.1em;
    margin-left: 1.5em;
    font-style: italic;
    color: #4d5f10;
}

div.apology {
    border: 3px solid #ee9999;
    background-color: #ffe0e0;
    font-size: 130%;
    margin-top: 2.0em;
    margin-bottom: 13.0em;
}
div.apology p.caption {
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    color: #ee5555;
    font-weight: bold;
    letter-spacing: 0.1em;
}
div.apology p {
    margin-bottom: 0.1em;
    margin-left: 1.5em;
    font-style: italic;
    color: #333;
}

div#page-navigation {
    font-weight: bold;
    margin-top: 2.0em;
    padding: 2.0em 0 2.0em 0;
    background-color: #dddddd;
}
div.footer{
    margin-top: 0;
}

/*----- azlink ------------------------------------------------------*/
div.azlink-box {
    border: 1px solid #bbb;
    background-color: #f7f7f7;
    width: 80%;
    max-width: 50em;
    margin-left: 2em;
    margin-bottom: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    word-wrap: break-word;

    /* radius */
    border-radius:         10px; /* CSS3 */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -moz-border-radius:    10px; /* Firefox */
}
div.azlink-info {
    width: 65%;
}
div.azlink-name {
    margin-top: 1.0em;
    font-size: 120%;
}
div.azlink-detail {
    font-size: 80%;
}
div.azlink-powered-date, div.azlink-link {
    visibility: hidden;
}


