@charset "UTF-8";

#left-pane {
    background-color: #705c41;
}
    border-right: 1px solid #951;

#outline-pane {
    background-color: #e0d4ca;
    border-right: 1px solid #e0d0c5;
}

/*----- outline list ------------------------------------------------------*/
#outline-pane ul a:link,
#outline-pane ul a:visited{ color: #642; text-decoration: none; }
#outline-pane ul a:hover{ color: #b73; text-decoration: underline; }

#left-pane ul a:link,
#left-pane ul a:visited{ color: #f0e0cf; text-decoration: none; }
#left-pane ul a:hover{ color: #ffcf77; text-decoration: underline; }

#left-pane li.active-page { background-color: #531; }

