<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} - 俺式4.0 tkDocs</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="copyright" content="tatsuya-koyama.com 2002-2013 All Rights Reserved" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://www.tatsuya-koyama.com/4.0/resource/image/icon/favicon.ico" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {{# stylesheets.load }}
    bootstrap.min.css
    bootstrap-responsive.min.css
    google_prettify/sunburst-custom.css
    tk-style.css
    tk-style-portal.css
  {{/ stylesheets.load }}

</head>
<body>

  {{> header.html }}

  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>俺式4.0 tkDocs</h1>
      <p>作ったもののドキュメンテーションとか、勉強したことのまとめとか</p>
    </div>


    <div class="row" style="margin-top: 1.8em;">

      <div class="span4">
        <div class="mini_contents_block"><div class="grid_inner">
            <a class="mini_box_contents mbc_krew" href="krew-framework/top">
              <div class="mini_box_contents mbc_krew">
                <p>krewFramework</p>
              </div>
              <div class="clearfix"></div>
            </a>
        </div></div>
        <p>Adobe AIR / Flash 向け汎用ゲームフレームワーク「krewFramework」のドキュメンテーション。</p>

      </div>

      <div class="span8">
        <div style="text-align: center; margin-top: 0.0em;">
          <a href="/krew-framework/top">
            <img class="radius" src="{{urls.media}}/krewfw/krewfw_logo.png"
                 style="width: 90%; max-width: 800px;" />
          </a>
        </div>
      </div>
    </div>


    <hr style="margin-top: 2.3em;  margin-bottom: 1.5em;">


    <!-- <div class="row" style="margin-top: 1.8em;"> -->
    <!--   <div class="span4"> -->
    <!--     <div class="mini_contents_block"><div class="grid_inner"> -->
    <!--         <a class="mini_box_contents mbc_book" href="game-dev-study-guide/top"> -->
    <!--           <div class="mini_box_contents mbc_book"> -->
    <!--             <p>ゲーム開発の小さな本</p> -->
    <!--           </div> -->
    <!--           <div class="clearfix"></div> -->
    <!--         </a> -->
    <!--     </div></div> -->
    <!--     <p>これからゲームプログラマとして仕事を始める人に 6 年目くらいの人が教えるべきこと</p> -->
    <!--   </div> -->
    <!--  -->
    <!--   <div class="span8"> -->
    <!--       <div style="text-align: center; margin-top: 0.0em;"> -->
    <!--           <a href="game-dev-study-guide/top"> -->
    <!--               <img class="radius" src="{{urls.media}}/dev-study-guide/book-title.jpg" -->
    <!--                    style="width: 90%; max-width: 800px;" /> -->
    <!--           </a> -->
    <!--       </div> -->
    <!--   </div> -->
    <!-- </div> -->
    <!--  -->
    <!--  -->
    <!-- <hr style="margin-top: 2.3em;  margin-bottom: 1.5em;"> -->


    <div class="row">
      <div class="span4">
        <div class="mini_contents_block"><div class="grid_inner">
            <a class="mini_box_contents mbc_notes" href="notes/about">
              <div class="mini_box_contents mbc_notes">
                <p>勉強ノート {{# notes.tags.anything }} ({{ count }}) {{/ notes.tags.anything }}</p>
              </div>
              <div class="clearfix"></div>
            </a>
        </div></div>
        <p>　学んだことのメモ</p>
      </div>

      <div class="span4">
        <div class="mini_contents_block"><div class="grid_inner">
            <a class="mini_box_contents mbc_mind" href="mind-log/about">
              <div class="mini_box_contents mbc_mind">
                <p>思考ログ {{# mind-log.tags.anything }} ({{ count }}) {{/ mind-log.tags.anything }}</p>
              </div>
              <div class="clearfix"></div>
            </a>
        </div></div>
        <p>　何かを作る時の思考のメモ</p>
      </div>

      <div class="span4">
        <div class="mini_contents_block"><div class="grid_inner">
            <a class="mini_box_contents mbc_ref" href="bookmark/about">
              <div class="mini_box_contents mbc_ref">
                <p>ブックマーク {{# bookmark.tags.anything }} ({{ count }}) {{/ bookmark.tags.anything }}</p>
              </div>
              <div class="clearfix"></div>
            </a>
        </div></div>
        <p>　覚えておきたいリンクのまとめ</p>
      </div>

    </div>


    <hr/>


    <div class="row">

      <div class="span4">
        <div class="mini_contents_block"><div class="grid_inner">
            <a class="mini_box_contents mbc_eng" href="english/about">
              <div class="mini_box_contents mbc_eng">
                <p>英語ノート {{# english.tags.anything }} ({{ count }}) {{/ english.tags.anything }}</p>
              </div>
              <div class="clearfix"></div>
            </a>
        </div></div>
        <p>　プログラマ向け英語の勉強ノート</p>
      </div>

      <div class="span4">
        <div class="mini_contents_block"><div class="grid_inner">
            <a class="mini_box_contents mbc_dev" href="dev-log/about">
              <div class="mini_box_contents mbc_dev">
                <p>開発ログ {{# dev-log.tags.anything }} ({{ count }}) {{/ dev-log.tags.anything }}</p>
              </div>
              <div class="clearfix"></div>
            </a>
        </div></div>
        <p>　開発・デバッグ時の作業ログ</p>
      </div>

      <div class="span4">
        <div class="mini_contents_block"><div class="grid_inner">
            <a class="mini_box_contents mbc_issues" href="issues/timeline">
              <div class="mini_box_contents mbc_issues">
                <p>トラブルシュート</p>
              </div>
              <div class="clearfix"></div>
            </a>
        </div></div>
        <p>　問題の記録と、解決方法の手順書</p>
      </div>

    </div>


    <br/><br/>

  </div>

  {{> footer_root.html }}


  {{# javascripts.load }}
    https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js
    bootstrap.min.js
  {{/ javascripts.load }}

  </body>
</html>
