<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} - 俺式4.0 tkDocs | SiteMap</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="copyright" content="tatsuya-koyama.com 2002-2013 All Rights Reserved" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://www.tatsuya-koyama.com/4.0/resource/image/icon/favicon.ico" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {{# stylesheets.load }}
    bootstrap.min.css
    bootstrap-responsive.min.css
    google_prettify/sunburst-custom.css
    tk-style.css
    tk-style-portal.css
  {{/ stylesheets.load }}

</head>
<body>

  {{> header.html }}

  <div class="container">

    <div class="hero-unit">
      <h1>俺式4.0 tkDocs | SiteMap</h1>
      <p>全ページ一覧</p>
    </div>


    <div class="row">

      <!-- Left Column -->
      <div class="span6">

        <h2 class="modern">krewFramework</h2>
        <ul>
          {{# krew-framework.all }}
            {{> page-list.html }}
          {{/ krew-framework.all }}
        </ul>

        <h2 class="modern">ゲーム開発の小さな本</h2>
        <ul>
          {{# game-dev-study-guide.all }}
            {{> page-list.html }}
          {{/ game-dev-study-guide.all }}
        </ul>

        <h2 class="modern">思考ログ</h2>
        <ul>
          {{# mind-log.all }}
            {{> page-list.html }}
          {{/ mind-log.all }}
        </ul>

        <h2 class="modern">開発ログ</h2>
        <ul>
          {{# dev-log.all }}
            {{> page-list.html }}
          {{/ dev-log.all }}
        </ul>

      </div>

      <!-- Right Column -->
      <div class="span6">

        <h2 class="modern">勉強ノート</h2>
        <ul>
          {{# notes.all }}
            {{> page-list.html }}
          {{/ notes.all }}
        </ul>

        <h2 class="modern">英語ノート</h2>
        <ul>
          {{# english.all }}
            {{> page-list.html }}
          {{/ english.all }}
        </ul>

        <h2 class="modern">ブックマーク</h2>
        <ul>
          {{# bookmark.all }}
            {{> page-list.html }}
          {{/ bookmark.all }}
        </ul>

        <h2 class="modern">トラブルシュート</h2>
        <ul>
          {{# issues.all }}
            {{> page-list.html }}
          {{/ issues.all }}
        </ul>

      </div>

    </div>

  </div>



  {{> footer.html }}


  {{# javascripts.load }}
    https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js
    bootstrap.min.js
  {{/ javascripts.load }}

  </body>
</html>
