<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} - 俺式4.0 tkDocs</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="copyright" content="tatsuya-koyama.com 2002-2013 All Rights Reserved" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://www.tatsuya-koyama.com/4.0/resource/image/icon/favicon.ico" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {{# stylesheets.load }}
    bootstrap.min.css
    bootstrap-responsive.min.css
    google_prettify/tomorrow-night.css
    tk-style.css
    tk-style-custom-notes.css
  {{/ stylesheets.load }}

</head>
<body>

  {{> header.html }}

  <!-- ３カラム: Pages, Outline, Content -->
  <div id="nav-toggle">
    <a href="#"><i class="icon-align-justify icon-white"></i> Index</a>
  </div>

  <div id="left-pane">
    <ul id="toc">

      <ul>
        {{#data.notes.top?to_notes}}
          {{> page-list.html }}
        {{/data.notes.top?to_notes}}
      </ul>

      {{# layout_index }}
        collection: notes
        index_key: notes
        indices:
          -
            - engineering
            - エンジニアリング
          -
            - language
            - プログラミング言語
          -
            - teamplay
            - チーム開発
          -
            - game
            - ゲーム開発
          -
            - phycology
            - ユーザ心理
          -
            - misc
            - その他
      {{/ layout_index }}

    </ul>
    <br/><br/>
  </div>

  <div id="outline-pane"> </div>
  <div id="novel">
    <div id="novel-inner" class="inner">
      <div id="main-content" class="novel docs layout-{{page.layout}}">
        <div class="inner">

          {{> contents-header.html }}
          {{{ content }}}

        </div>
      </div>
    </div>
    {{> footer.html }}
  </div>

  {{> common-widgets.html }}

  </body>
</html>
