  <!-- Footer -->
  <div class="footer"><div class="container">
    <!-- Google Adsense -->
    <div class="grid_container clearfix">
      <div class="grid_start"></div>
      <div class="grid12"><div class="grid_inner">
          <h4 class="footer_caption" id="head5">Ads</h2>
      </div></div>

      <div class="grid1"><div class="grid_inner"></div></div>
      <div class="grid11"><div class="grid_inner">

          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- tkStyle4.0-Responsive -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-1265375635278933"
               data-ad-slot="3605243154"
               data-ad-format="auto"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

      </div></div>
    </div>
    <br/>

    <!-- Social Like Buttons -->
    <div class="grid_container clearfix" style="display: block;">
      <div class="grid_start"></div>
      <div class="grid12"><div class="grid_inner">
          <h4 class="footer_caption" id="head6">Social</h2>
      </div></div>
      <div class="grid1"><div class="grid_inner"></div></div>
      <div class="grid11"><div class="grid_inner">

          <!-- Tweet Button -->
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <div class="ws2"></div>

          <!-- Hatebu Button -->
          <a href="http://b.hatena.ne.jp/entry/http://docs.tatsuya-koyama.com{{ page.url }}"
             class="hatena-bookmark-button" data-hatena-bookmark-title="{{ page.title }}"
             data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加">
            <img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
          </a>
          <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
          <div class="ws4"></div>
          <br/>

          <!-- Facebook Like button -->
          <div class="fb-like" data-href="http://docs.tatsuya-koyama.com{{ page.url }}"
               data-send="true" data-width="450" data-show-faces="true"
               data-colorscheme="dark" data-font="verdana">
          </div><br/>

      </div></div>
    </div>

    <div class="copyright">Copyright © 2016 Tatsuya Koyama. All rights reserved.</div><br/>

    <!-- <\!-- for Facebook comment box widget -\-> -->
    <!-- <div id="fb-root"></div> -->
    <!-- <script>(function(d, s, id) { -->
    <!--   var js, fjs = d.getElementsByTagName(s)[0]; -->
    <!--   if (d.getElementById(id)) return; -->
    <!--   js = d.createElement(s); js.id = id; -->
    <!--   js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; -->
    <!--   fjs.parentNode.insertBefore(js, fjs); -->
    <!--   }(document, 'script', 'facebook-jssdk'));</script> -->
    <!-- <div id="contents_outer"><div id="contents_inner"> -->
    <!--  -->
    <!-- <\!-- Facebook comment box widget -\-> -->
    <!-- <div class="grid_container clearfix" style="display: block;"> -->
    <!--   <div class="grid_start"></div> -->
    <!--   <div class="grid12"><div class="grid_inner"> -->
    <!--       <h4 class="footer_caption" id="head7">Facebook Comment</h2> -->
    <!--   </div></div> -->
    <!--   <div class="grid_start"></div> -->
    <!--   <div class="grid1"><div class="grid_inner"></div></div> -->
    <!--   <div class="grid11"><div class="grid_inner"> -->
    <!--  -->
    <!--       <div class="fb-comments" data-href="http://docs.tatsuya-koyama.com{{ page.url }}" -->
    <!--            data-num-posts="5" data-width="500" data-colorscheme="dark"> -->
    <!--       </div> -->
    <!--  -->
    <!--       <br/><br/> -->
    <!--   </div></div> -->
    <!-- </div> -->


  </div></div>
