  <!-- ヘッダの固定ナビゲーション -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ urls.base_path }}">俺式4.0 tkDocs</a>

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse collapse">
          <!-- ドロップダウン -->
          <ul class="nav nav-tabs pull-left">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Menu
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ urls.base_path }}krew-framework/top">krewFramework</a></li>
                <li><a href="{{ urls.base_path }}game-dev-study-guide/top">ゲーム開発の小さな本</a></li>
                <li><a href="{{ urls.base_path }}notes/about">勉強ノート</a></li>
                <li><a href="{{ urls.base_path }}english/about">英語ノート</a></li>
                <li><a href="{{ urls.base_path }}mind-log/about">思考ログ</a></li>
                <li><a href="{{ urls.base_path }}dev-log/about">開発ログ</a></li>
                <li><a href="{{ urls.base_path }}issues/timeline">トラブルシュート</a></li>
                <li><a href="{{ urls.base_path }}bookmark/about">ブックマーク</a></li>
              </ul>
            </li>

            <li><a href="{{ urls.base_path }}birdeye/sitemap">SiteMap</a></li>
          </ul>

          <ul class="nav pull-right">
            <li><a href="http://www.tatsuya-koyama.com/4.0/html/index.html">Works</a></li>
            <li><a href="http://blog.tatsuya-koyama.com/">Blog</a></li>
            <li><a href="http://docs.tatsuya-koyama.com/">Docs</a></li>
            <li><a href="http://www.tatsuya-koyama.com/4.0/html/tkinfo/profile.html">About</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
